<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="http://localhost:4200/" class="navbar-brand">Shimsha's</a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="recipes" *ngIf="isAuthenticated">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['shopping-list']">Shopping List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['auth']" *ngIf="!isAuthenticated">Authentication</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ms-auto">
                <li *ngIf="isAuthenticated">
                    <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Logout</a>
                </li>
                <li class="nav-item active dropdown">
                    <a href="#" 
                      id="navActionDrop" 
                      class="nav-link" 
                      app-dropdown>Manage</a>

                    <ul class="dropdown-menu" aria-labelledby="navActionDrop">
                        <li><a class="dropdown-item" (click)="onSaveData()" style="cursor: pointer;">Save Data</a></li>
                        <li><a class="dropdown-item" (click)="onFetchData()" style="cursor: pointer;">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

