<div class="row">
    <div class="col-sm-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
                <div class="col-sm-12">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" id="name" class="form-control" formControlName="name">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-12">
                    <label for="imgPath" class="form-label">Image URL</label>
                    <input type="text" name="imgPath" id="imgPath" class="form-control" formControlName="imgPath" #imgPath>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-12">
                    <img [src]="imgPath.value" class="img-fluid">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-12">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" id="description" class="form-control" rows="4"
                        formControlName="description"></textarea>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-12" formArrayName="ingredients">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add</button>
                        </div>
                    </div>
                    
                    <div class="row mb-2" 
                        *ngFor="let ingredient of ingredientsCtrls; let i = index"
                        [formGroupName]="i">
                        <div class="col-8">
                            <input type="text" name="name" id="name" class="form-control" formControlName="name">
                        </div>
                        <div class="col-2">
                            <input type="number" name="amount" id="amount" class="form-control"
                                formControlName="amount">
                        </div>
                        <div class="col-2 text-center">
                            <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-2">
                    <button type="button" class="btn btn-danger" (click)="onCancel()" style="display: block; width: 100%;">Cancel</button>
                </div>
                <div class="col-2 offset-8">
                    <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid" style="display: block; width: 100%;">Save</button>
                </div>
            </div>

        </form>
    </div>
</div>