.row {
    display: flex;
    justify-content: center;
    align-items: start;
}

.col-sm-12 {
    display: flex;
    position: absolute;
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px solid blanchedalmond;
    box-shadow: 0 0 40px 5px #4196e155;
}