<div class="row">
  <div class="col-md-5">
    <div class="row mb-4">
      <div class="col-sm-1">
        <button id="backBtn" (click)="onBtnBack()">BACK</button>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-12">
        <img
          [src]="details.imgPath"
          alt="no imgage"
          class="img-fluid rounded"
        />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-12">
        <div class="btn-group">
          <a role="button" class="btn btn-primary">Action</a>
          <button
            id="btnDetailsDrop"
            type="button"
            class="btn btn-primary dropdown-toggle-split"
            app-dropdown
          >
            <span class="visually-hidden">Dropdown</span>
          </button>

          <ul class="dropdown-menu" aria-labelledby="btnDetailsDrop">
            <li>
              <a
                class="dropdown-item"
                style="cursor: pointer"
                (click)="onAddToShoppingList()"
                >To Shopping List</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                (click)="onEditRecipe()"
                style="cursor: pointer"
                >Edit Recipe</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                (click)="onDeleteRecipe()"
                style="cursor: pointer"
                >Delete Recipe</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-sm-12">
        <ul class="list-group">
          <li
            *ngFor="let ingredient of details.ingredients"
            class="list-group-item"
          >
            {{ ingredient.name }} - {{ ingredient.amount }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="row mb-3">
      <div class="col-sm-12">
        <h1>{{ details.name }}</h1>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-12">
        <em class="text-break text-wrap">{{ details.description }}</em>
        <p class="text-break text-wrap">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero nobis
          praesentium fugit nam ducimus laboriosam debitis atque. Et,
          praesentium? Quasi, rem. Quidem eius eos rerum unde quaerat!
          Recusandae, exercitationem saepe! Dolore velit magni asperiores animi
          aperiam.
        </p>
        <p>
          Nobis, natus corporis. Tempore quasi, qui sequi voluptatem aperiam
          doloremque eligendi officia reiciendis quo minus omnis error officiis
          quia dolorum similique, atque inventore. Error. Est ut nisi neque,
          rerum sint doloribus vitae accusantium soluta culpa velit deserunt.
          Alias ipsam aliquid ad, quo asperiores accusantium. Error fugiat
          mollitia quas, rem cumque ipsum odio quidem qui. Dolore, minus
          suscipit! <br /><br />
        </p>
        <p>
          Fugiat voluptates quasi in commodi quae aspernatur, at impedit, alias
          cumque rem numquam nemo consectetur laboriosam eum eius ad? Molestias
          veniam laborum aliquam reprehenderit aut deserunt enim? Inventore
          beatae molestiae reiciendis, temporibus vel, doloribus ab nesciunt
          pariatur corrupti, iusto corporis! Quod soluta quam vitae! Impedit
          aliquid magnam atque optio ipsa quam voluptatum ipsam dignissimos cum,
          enim maiores! <br /><br />
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
          nostrum nobis asperiores dolorem molestiae, nesciunt illo eaque
          distinctio veritatis quae fugiat consectetur perspiciatis, fugit
          temporibus sapiente pariatur vero quasi molestias. Explicabo, quidem
          quis. Sapiente in doloremque, et velit dolores atque sunt pariatur
          fuga quis eaque laboriosam repellendus totam, exercitationem
          reprehenderit. Laboriosam minima sit quis delectus perspiciatis non
          temporibus? Sunt, aspernatur! Sequi commodi nihil veniam omnis quo
          suscipit, necessitatibus cumque facilis nemo, veritatis vitae dolorum
          dolorem saepe exercitationem inventore. Totam ea accusamus molestias
          sit nam odio delectus quos quod nihil repudiandae! Cupiditate, tempore
          voluptate. Harum reiciendis hic blanditiis, voluptatem voluptatum
          ipsum provident. Ipsum iusto nemo natus similique ut omnis placeat
          labore ratione, magni, delectus non magnam accusamus saepe!
          Reiciendis, fuga aspernatur. Dolorum, est doloribus cupiditate itaque
          pariatur aspernatur mollitia numquam dicta fuga nam temporibus
          excepturi beatae rerum qui, harum esse, facere ratione. Quasi eum ab
          odit accusamus natus, temporibus voluptate consectetur! Qui eaque
          quidem reiciendis necessitatibus. Libero, unde minus ea architecto
          magnam voluptate enim rem ipsa vitae, ratione sunt aspernatur quis!
          Corrupti exercitationem eveniet, fuga quis nam dicta necessitatibus
          maxime perspiciatis. Aspernatur ex debitis esse quae voluptates!
          Dolores, veritatis natus ex odit animi a sint dolore laudantium,
          commodi nam perspiciatis, ducimus est saepe quas. Beatae consectetur
          id enim harum magni a? Iusto consequuntur excepturi necessitatibus
          vitae. Sequi, fugit eveniet! Necessitatibus voluptas blanditiis
          distinctio nam nihil maiores, tenetur, aut aliquid, repudiandae labore
          a doloribus dolorum inventore illum enim ipsa iusto ab incidunt!
          Obcaecati, temporibus illo laborum nam corrupti libero recusandae
          beatae voluptatem a quas, vero expedita provident vitae ipsam quam
          sapiente voluptas nihil. Quibusdam sint asperiores inventore, officia
          corrupti vero dolorem molestiae! Fuga dolorem laboriosam expedita
          quasi sint. Eos qui omnis repellendus, ad perferendis labore
          temporibus iste voluptates quod sapiente asperiores doloribus ratione
          explicabo ducimus ea. Dolore maxime aspernatur vero? Fugit, pariatur?
        </p>
      </div>
    </div>
  </div>
</div>
