<div class="row">
    <div class="col-xs-12">
        <img [src]="details.imgPath" alt="no imgage" class="img-fluid" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ details.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown">
            <button 
              id="btnDetailsDrop" 
              type="button" 
              class="btn btn-primary " 
              app-dropdown>Dropdown</button>

            <ul class="dropdown-menu" aria-labelledby="btnDetailsDrop">
                <li>
                    <a class="dropdown-item" 
                    style="cursor: pointer;" 
                    (click)="onAddToShoppingList()">To Shopping List</a>
                </li>
                <li><a class="dropdown-item" (click)="onEditRecipe()" style="cursor: pointer;">Edit Recipe</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ details.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li *ngFor="let ingredient of details.ingredients" class="list-group-item">
                {{ ingredient.name }} - {{ ingredient.amount }}
            </li>
        </ul>
    </div>
</div>