<div class="row">
    <div class="col-xl-12">
        <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    </div>
</div>
<hr>
<div class="text-center" *ngIf="recipes.length === 0">
    <h3><small>Manage>Fetch Data</small></h3>
</div>
<div class="row">
    <div class="col-sm-12 list-group">
        <app-recipe-item 
            class="rcorners1" 
            *ngFor="let recipe of recipes; let i = index" 
            [item]="recipe"
            [index]="i">
        </app-recipe-item>
    </div>
</div>